$theme-primary-color: var(--primary-color);
$theme-secondary-color: var(--secondary-color);
$theme-success-color: var(--success-color);
$theme-danger-color: var(--danger-color);
$theme-warning-color: var(--warning-color);
$theme-info-color: var(--info-color);
$theme-dark-color: var(--theme-dark-color);
$theme-light-color: var(--theme-light-color);
$theme-background-default: var(--background-default);
$theme-background-secondary: var(--background-secondary);

$text-primary-color: var(--text-primary-color);
$text-secondary-color: var(--text-secondary-color);
$text-light-color: var(--text-light-color);
$text-dark-color: var(--text-dark-color);
